<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>83989128051-5091ije9ktuc8ho0vf68lp0h797o9sod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83989128051-5091ije9ktuc8ho0vf68lp0h797o9sod</string>
	<key>API_KEY</key>
	<string>AIzaSyA-fueSxWoThMSCWYn3jmEiYlGD0JAGzhs</string>
	<key>GCM_SENDER_ID</key>
	<string>83989128051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ccjeffhuang.OlegoruPTag</string>
	<key>PROJECT_ID</key>
	<string>magictable-f840c</string>
	<key>STORAGE_BUCKET</key>
	<string>magictable-f840c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:83989128051:ios:d4bea84bc353f672</string>
	<key>DATABASE_URL</key>
	<string>https://magictable-f840c.firebaseio.com</string>
</dict>
</plist>